### Again, the motive here is to learn how to use ANN to solve a Regression Problem

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/Admission_Predict_Ver1.1.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.shape

(500, 9)

In [4]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [6]:
df.drop(columns=['Serial No.'],inplace=True)

In [7]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
X = df.iloc[:,0:-1]
y = df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train,X_train.shape

(     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
 249        321          111                  3  3.5   4.0  8.83         1
 433        316          111                  4  4.0   5.0  8.54         0
 19         303          102                  3  3.5   3.0  8.50         0
 322        314          107                  2  2.5   4.0  8.27         0
 332        308          106                  3  3.5   2.5  8.21         1
 ..         ...          ...                ...  ...   ...   ...       ...
 106        329          111                  4  4.5   4.5  9.18         1
 270        306          105                  2  2.5   3.0  8.22         1
 348        302           99                  1  2.0   2.0  7.25         0
 435        309          105                  2  2.5   4.0  7.68         0
 102        314          106                  2  4.0   3.5  8.25         0

 [400 rows x 7 columns],
 (400, 7))

In [11]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
X_train_scaled

array([[0.62      , 0.67857143, 0.5       , ..., 0.71428571, 0.65064103,
        1.        ],
       [0.52      , 0.67857143, 0.75      , ..., 1.        , 0.55769231,
        0.        ],
       [0.26      , 0.35714286, 0.5       , ..., 0.42857143, 0.54487179,
        0.        ],
       ...,
       [0.24      , 0.25      , 0.        , ..., 0.14285714, 0.14423077,
        0.        ],
       [0.38      , 0.46428571, 0.25      , ..., 0.71428571, 0.28205128,
        0.        ],
       [0.48      , 0.5       , 0.25      , ..., 0.57142857, 0.46474359,
        0.        ]])

In [13]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [14]:
model = Sequential()

model.add(Dense(7,activation='relu',input_dim=7))
model.add(Dense(1,activation='linear'))

2022-12-13 23:48:24.855121: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-12-13 23:48:24.855371: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2022-12-13 23:48:24.855417: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (machine01): /proc/driver/nvidia/version does not exist
2022-12-13 23:48:24.856382: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 56

 dense_1 (Dense)             (None, 1)                 8

=================================================================
Total params: 64
Trainable params: 64
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.compile(loss='mean_squared_error',optimizer='adam')

In [20]:
history = model.fit(X_train_scaled,Y_train,epochs=10,validation_split=0.2)

Epoch 1/10
10/10 [==============================] - 1s 18ms/step - loss: 0.6152 - val_loss: 0.5185
Epoch 2/10
10/10 [==============================] - 0s 5ms/step - loss: 0.4578 - val_loss: 0.3763
Epoch 3/10
10/10 [==============================] - 0s 5ms/step - loss: 0.3373 - val_loss: 0.2676
Epoch 4/10
10/10 [==============================] - 0s 5ms/step - loss: 0.2461 - val_loss: 0.1867
Epoch 5/10
10/10 [==============================] - 0s 5ms/step - loss: 0.1753 - val_loss: 0.1272
Epoch 6/10
10/10 [==============================] - 0s 6ms/step - loss: 0.1238 - val_loss: 0.0846
Epoch 7/10
10/10 [==============================] - 0s 5ms/step - loss: 0.0868 - val_loss: 0.0560
Epoch 8/10
10/10 [==============================] - 0s 5ms/step - loss: 0.0617 - val_loss: 0.0378
Epoch 9/10
10/10 [==============================] - 0s 5ms/step - loss: 0.0452 - val_loss: 0.0271
Epoch 10/10
10/10 [==============================] - 0s 5ms/step - loss: 0.0351 - val_loss: 0.0214

In [21]:
y_pred = model.predict(X_test_scaled)

4/4 [==============================] - 0s 1ms/step

In [22]:
from sklearn.metrics import r2_score

r2_score(Y_test,y_pred)

-0.5100733394275772